@{
    ViewData["Title"] = "Отчеты";
}

@* <form id="deleteSelected" asp-action="DeleteReports" method="Post"> *@
@*     <input class="btn btn-primary" type="submit" value="Удалить выбранные"> *@
@* </form> *@

<div class="table-responsive">
    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
        <thead class="align-middle">
        <tr>
            <th scope="col">
                <input type="checkbox" class="form-check-input" name="selection_all" value="1">
            </th>
            <th scope="col">№</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Тип</th>
            <th scope="col">Чаты активности</th>
            <th scope="col">Статус</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody class="align-middle elements"></tbody>
    </table>
</div>

@section scripts {
    <script src="~/js/scroller.js"></script>
    <script src="~/js/reports.js"></script>
    <script src="~/js/getReports.js"></script>
}