@model VkQ.WEB.ViewModels.Reports.ParticipantReportViewModel
@{
    ViewData["title"] = "Отчет";
}
<div class="table-responsive">
    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
        <tbody class="align-middle">
        <tr>
            <th scope="row">Дата создания</th>
            <td>@Model.CreationDate.ToOffset(TimeSpan.FromHours(3)).ToString("f")</td>
        </tr>
        <tr>
            <th scope="row">Ссылка</th>
            <td>
                <a href="https://vk.com/id@(Model.VkId)"></a>
            </td>
        </tr>
        @if (Model.IsStarted)
        {
            <tr>
                <th scope="row">Дата начала</th>
                <td>@Model.StartDate!.Value.ToOffset(TimeSpan.FromHours(3)).ToString("f")</td>
            </tr>
        }
        @if (Model.IsCompleted)
        {
            <tr>
                <th scope="row">Дата зваершения</th>
                <td>@Model.EndDate!.Value.ToOffset(TimeSpan.FromHours(3)).ToString("f")</td>
            </tr>
            @if (Model.IsSucceeded)
            {
                <tr>
                    <th scope="row">Успешно</th>
                    <td>Да</td>
                </tr>
            }
            else
            {
                <tr>
                    <th scope="row">Ошибка</th>
                    <td>@Model.Message</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
        <thead class="align-middle">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Участник</th>
            <th scope="col">Дочерние аккаунты</th>
            <th scope="col">Статус</th>
        </tr>
        @await Html.PartialAsync("SearchParticipantElement")
        </thead>
        <tbody class="align-middle elements"></tbody>
    </table>
</div>