<tr>
    <form asp-action="LikeReport" method="get" class="form-horizontal" id="filter">
        <th scope="col">
            <input asp-for="Username" class="form-control auto-submit"/>
        </th>
        <th scope="col">
            <select class="form-select auto-submit" asp-for="HasChild" asp-items="Html.GetEnumSelectList<ParticipantHasChild>()"></select>
        </th>
        <th scope="col">
            <select class="form-select auto-submit" asp-for="Status" asp-items="Html.GetEnumSelectList<LikingCommentingStatus>()"></select>
        </th>
        <th scope="col">
            <input asp-for="Note" class="form-control auto-submit"/>
        </th>
        <th scope="col">
            <select class="form-select auto-submit" asp-for="LikeChat" asp-items="new List<SelectListItem>(Model.Report.Instagrams.Select(instagram => new SelectListItem(instagram.LikeChat, instagram.LikeChat)))">
                <option selected="selected" value>Все</option>
            </select>
        </th>
        <th scope="col">
            <select class="form-select auto-submit" asp-for="Vip">
                <option selected="selected" value="false">Все</option>
                <option value="true">VIP</option>
            </select>
        </th>
    </form>
</tr>
@section scripts {
    <script src="~/js/autoSubmit.js"></script>
}