@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApplication.Data.Enums.Reports
@model WebApplication.ViewModels.Reports.StartThievesOrTagInfoReportViewModel
@{
    ViewData["title"] = "Поиск воров";
}
<div class="row">
    <div class="col-lg-6">
        <h3>Создание отчета по поиску воров</h3>
        <form asp-action="StartThievesReport" method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <div class="row g-3">
                    <div class="col-12">
                        <input type="hidden" asp-for="Id">
                        <label asp-for="Tag"></label>
                        <input asp-for="Tag" class="form-control"/>
                        <span asp-validation-for="Tag" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="Publications"></label>
                        <select class="form-select form-select-sm" asp-for="Publications" asp-items="Html.GetEnumSelectList<Publications>()"></select>
                        <span asp-validation-for="Publications" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <input class="btn shadow-none btn-outline-dark" type="submit" value="Создать">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>