@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApplication.Data.Enums.Reports
@model WebApplication.ViewModels.Reports.StartLikeOrCommentReportViewModel
@{
    ViewData["title"] = "Проверка комментариев";
}
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Получить посты по тегу
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form asp-action="StartCommentReportAuto" method="post" class="form-horizontal">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="form-group">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <input type="hidden" asp-for="@Model.AnalysisAuto.Id">
                                        <label asp-for="AnalysisAuto.Tag"></label>
                                        <input asp-for="AnalysisAuto.Tag" class="form-control"/>
                                        <span asp-validation-for="AnalysisAuto.Tag" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <label asp-for="AnalysisAuto.Count"></label>
                                        <input asp-for="AnalysisAuto.Count" type="range" class="form-range" min="10" max="120" step="10" id="range" onInput="$('#rangeval').html($(this).val())">
                                        <span class="float-end" id="rangeval">10</span>
                                        <span asp-validation-for="AnalysisAuto.Count" class="text-danger"></span>
                                    </div>
                                    <div class="col-6">
                                        <label asp-for="AnalysisAuto.StartDate"></label>
                                        <input asp-for="AnalysisAuto.StartDate" class="form-control"/>
                                        <span asp-validation-for="AnalysisAuto.StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="col-6">
                                        <label asp-for="AnalysisAuto.EndDate"></label>
                                        <input asp-for="AnalysisAuto.EndDate" class="form-control"/>
                                        <span asp-validation-for="AnalysisAuto.EndDate" class="text-danger"></span>
                                    </div>
                                    <div class="col-6">
                                        <label asp-for="AnalysisAuto.Api"></label>
                                        <select class="form-select form-select-sm" asp-for="AnalysisAuto.Api" asp-items="Html.GetEnumSelectList<Api>()"></select>
                                        <span asp-validation-for="AnalysisAuto.Api" class="text-danger"></span>
                                    </div>
                                    <div class="col-6">
                                        <label asp-for="AnalysisAuto.Publications"></label>
                                        <select class="form-select form-select-sm" asp-for="AnalysisAuto.Publications" asp-items="Html.GetEnumSelectList<Publications>()"></select>
                                        <span asp-validation-for="AnalysisAuto.Publications" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check form-switch">
                                            <input asp-for="AnalysisAuto.NotAllParticipants" class="form-check-input" type="checkbox" checked>
                                            <label asp-for="AnalysisAuto.NotAllParticipants"></label>
                                            <span asp-validation-for="AnalysisAuto.NotAllParticipants" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label class="d-block" asp-for="AnalysisAuto.CommonAccounts"></label>
                                        <select class="js-example-basic-multiple form-select" asp-for="AnalysisAuto.CommonAccounts" style="width: 100%" asp-items="@Model.CommonInstagrams" multiple="multiple"></select>
                                        <span asp-validation-for="AnalysisAuto.CommonAccounts" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <input class="btn shadow-none btn-outline-dark" type="submit" value="Создать">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Ввести ссылки на посты
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form asp-action="StartCommentReportLinks" method="post" class="form-horizontal">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="form-group">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <input type="hidden" asp-for="@Model.AnalysisLinks.Id">
                                        <label asp-for="AnalysisLinks.Tag"></label>
                                        <input asp-for="AnalysisLinks.Tag" class="form-control"/>
                                        <span asp-validation-for="AnalysisLinks.Tag" class="text-danger"></span>
                                    </div>
                                    <div class="col-6">
                                        <label asp-for="AnalysisLinks.Api"></label>
                                        <select class="form-select form-select-sm" asp-for="AnalysisLinks.Api" asp-items="Html.GetEnumSelectList<Api>()"></select>
                                        <span asp-validation-for="AnalysisLinks.Api" class="text-danger"></span>
                                    </div>
                                    <div class="col-6">
                                        <label asp-for="AnalysisAuto.Publications"></label>
                                        <select class="form-select form-select-sm" asp-for="AnalysisAuto.Publications" asp-items="Html.GetEnumSelectList<Publications>()"></select>
                                        <span asp-validation-for="AnalysisAuto.Publications" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check form-switch">
                                            <input asp-for="AnalysisLinks.NotAllParticipants" class="form-check-input" type="checkbox" checked>
                                            <label asp-for="AnalysisLinks.NotAllParticipants"></label>
                                            <span asp-validation-for="AnalysisLinks.NotAllParticipants" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label asp-for="AnalysisLinks.Links"></label>
                                        <textarea asp-for="AnalysisLinks.Links" class="form-control"></textarea>
                                        <span asp-validation-for="AnalysisLinks.Links" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <label class="d-block" asp-for="AnalysisLinks.CommonAccounts"></label>
                                        <select class="js-example-basic-multiple form-select" asp-for="AnalysisLinks.CommonAccounts" style="width: 100%" asp-items="@Model.CommonInstagrams" multiple="multiple">
                                        </select>
                                        <span asp-validation-for="AnalysisLinks.CommonAccounts" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <input class="btn shadow-none btn-outline-dark" type="submit" value="Создать">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" integrity="sha256-9yRP/2EFlblE92vzCA10469Ctd0jT48HnmmMw5rJZrA=" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function() {
                $('.js-example-basic-multiple').select2();
            });
            </script>
}