@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication.ViewModels.Users.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}

<div class="row">
    <div class="col-lg-6">
        <h3>Изменение пароля для пользователя @Model.Username</h3>
        <form asp-action="ChangePassword" asp-controller="Users" method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <div class="row g-3">
                    <input type="hidden" asp-for="Id"/>
                    <input type="hidden" asp-for="Username"/>
                    <div class="col-sm-6">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <input type="submit" value="Сохранить" class="btn shadow-none btn-outline-dark"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>