@model VkQ.WEB.ViewModels.Settings.ChangePasswordViewModel
<h3>Смена пароля</h3>
<form asp-controller="Settings" asp-action="ChangePassword" method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <div class="row g-3">
            <div class="col-12">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control"/>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="PasswordConfirm"></label>
                <input asp-for="PasswordConfirm" class="form-control"/>
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div class="col-12">
                <input class="btn shadow-none btn-outline-dark" type="submit" value="Изменить пароль">
            </div>
        </div>
    </div>
</form>