@model VkQ.WEB.ViewModels.Payments.CreatePaymentViewModel
<tr>
    <th></th>
    <td></td>
    <td>
        <input asp-for="Amount" class="form-control">
    </td>
    <td>
        <input class="btn shadow-none btn-outline-dark" type="submit" value="Создать">
    </td>
    <td></td>
</tr>