@model VkQ.WEB.ViewModels.ReportsManager.PublicationReportCreateViewModel
@{
    ViewData["title"] = "Проверка лайкинга";
    var items = ViewBag["Links"] as List<(Guid Id, string Name)>;
    var selectedListItems = items?.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<div class="row">
    <div class="col-lg-6">
        <form asp-controller="ReportsManager" asp-action="StartLikeReport" method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <div class="row g-3">
                    <div class="col-12">
                        <label asp-for="Hashtag"></label>
                        <input asp-for="Hashtag" class="form-control"/>
                        <span asp-validation-for="Hashtag" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="SearchStartDate"></label>
                        <input asp-for="SearchStartDate" class="form-control"/>
                        <span asp-validation-for="SearchStartDate" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label class="d-block" asp-for="CoAuthors"></label>
                        <select id="select" class="form-select" asp-for="CoAuthors" style="width: 100%" asp-items="selectedListItems" multiple="multiple">
                        </select>
                        <span asp-validation-for="CoAuthors" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <input class="btn shadow-none btn-outline-dark" type="submit" value="Создать">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts
{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" integrity="sha256-9yRP/2EFlblE92vzCA10469Ctd0jT48HnmmMw5rJZrA=" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function() {
                $('#select').select2();
            });
    </script>
}