<form id="participantForm" asp-controller="ReportsManager" asp-action="StartParticipantReport" method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly"></div>
    <input class="btn shadow-none btn-outline-dark" type="submit" value="Создать">
</form>