@using VkQ.Domain.Participants.Enums
@model VkQ.WEB.ViewModels.Participants.ParticipantsSearchQueryViewModel

<tr>
    <th scope="col"></th>
    <th scope="col">
        <input asp-for="Username" class="form-control"/>
    </th>
    <th scope="col">
        <select class="form-select" asp-for="Type">
            <option selected="selected" value="">Все</option>
            <option value="@ParticipantType.User">Страницы</option>
            <option value="@ParticipantType.Group">Группы</option>
        </select>
    </th>
    <th scope="col">
        <select class="form-select" asp-for="HasChild">
            <option selected="selected" value="">Все</option>
            <option value="true">Есть</option>
            <option value="false">Нет</option>
        </select>
    </th>
    <th scope="col"></th>
    <th scope="col">
        <select class="form-select" asp-for="Vip">
            <option selected="selected" value="">Все</option>
            <option value="true">VIP</option>
        </select>
    </th>
</tr>