@model Soofle.WEB.ViewModels.Elements.PublicationElementsSearchQueryViewModel
@{
    var items = ViewBag.Chats as List<string>;
    var selectedListItems = items?.Select(x => new SelectListItem(x, x));
}
<tr>
    <th scope="col">
        <input type="hidden" asp-for="ReportId">
        <input asp-for="Name" class="form-control"/>
    </th>
    <th scope="col"></th>
    <th scope="col">
        <select class="form-select" asp-for="HasChildren">
            <option selected="selected" value="">Все</option>
            <option value="true">Есть</option>
            <option value="false">Нет</option>
        </select>
    </th>
    <th scope="col">
        <select class="form-select" asp-for="Succeeded">
            <option selected="selected" value="">Все</option>
            <option value="true">Да</option>
            <option value="false">Нет</option>
        </select>
    </th>
    <th scope="col">
        @* <input asp-for="Note" class="form-control"/> *@
    </th>
    <th scope="col">
        <select class="form-select" asp-for="LikeChatName" asp-items="selectedListItems">
            <option selected="selected" value="">Все</option>
        </select>
    </th>
    <th scope="col">
        <select class="form-select" asp-for="Vip">
            <option selected="selected" value="">Все</option>
            <option value="true">VIP</option>
            <option value="false">Обычные</option>
        </select>
    </th>
</tr>