@model IEnumerable<Soofle.WEB.ViewModels.Users.UserShortViewModel>

@foreach (var user in Model)
{
    <tr class="element">
        <td>
            <a asp-action="Edit" asp-route-userId="@user.Id">@user.Username</a>
        </td>
        <td>@user.Email</td>
    </tr>
}