
@model Soofle.WEB.ViewModels.Links.CreateLinkViewModel
<tr id="links">
    <td></td>
    <td>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </td>
    <td></td>
    <td>
        <input class="btn shadow-none btn-outline-dark" type="submit" value="Создать">
    </td>
</tr>