@model WebApplication.Models.CommunicationLink
@{
    ViewData["Title"] = "Подтверждение связи";
}
<div class="row">
    <div class="col-lg-6">
        <h3>Создание связи</h3>
        <div class="form-group">
            <div class="row g-3">
                <div class="col-12">
                    <div class="form-check form-switch">
                        <input disabled asp-for="CommonThieves" class="form-check-input" type="checkbox" id="Check1">
                        <label asp-for="CommonThieves"></label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check form-switch">
                        <input disabled asp-for="CommonReports" class="form-check-input" type="checkbox" id="Check2">
                        <label asp-for="CommonReports"></label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-center">
                        <form asp-action="AcceptCommunication" method="post" class="form-horizontal">
                            <div asp-validation-summary="ModelOnly"></div>
                            <input type="hidden" asp-for="Id">
                            <input type="submit" class="btn btn-success shadow-none" autocomplete="off" value="Подтвердить свзяь">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>