@model Soofle.WEB.ViewModels.ReportsManager.PublicationReportCreateViewModel
@{
    var items = ViewBag.Links as List<(Guid Id, string Name)>;
    var selectedListItems = items?.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<form id="commentForm" asp-controller="ReportsManager" asp-action="StartCommentReport" method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <div>
            <label asp-for="Hashtag"></label>
            <input asp-for="Hashtag" class="form-control"/>
            <span asp-validation-for="Hashtag" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <input type="checkbox" asp-for="AllParticipants" class="form-check-input"/>
            <label asp-for="AllParticipants"></label>
        </div>
        <div class="mt-3">
            <label asp-for="SearchStartDate"></label>
            <input asp-for="SearchStartDate" class="form-control"/>
            <span asp-validation-for="SearchStartDate" class="text-danger"></span>
            <span>Укажите, если хотите получать публикации относительно даты</span>
        </div>
        <div class="mt-3">
            <label class="d-block" asp-for="CoAuthors"></label>
            <select id="select2" class="form-select" asp-for="CoAuthors" style="width: 100%" asp-items="selectedListItems" multiple="multiple">
            </select>
            <span asp-validation-for="CoAuthors" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Timer"></label>
            <input asp-for="Timer" class="form-control"/>
            <span asp-validation-for="Timer" class="text-danger"></span>
            <span>Укажите, если хотите запланировать отчёт</span>
        </div>
        <div class="mt-3">
            <input class="btn shadow-none btn-outline-dark" type="submit" value="Создать">
        </div>
    </div>
</form>